
.menu{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 20px;
}
.sectionMenu{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
li{
    padding: 15px;
}
li:hover{
    border-bottom: 1px solid #61dafb;
    transition: 1s ease;
    color: aqua;
    cursor: pointer;

}
.title {text-align: start;
    font-family: 'Aclonica';font-size: 22px;
}
.subtitle { text-align: start;
    font-family: 'Aclonica';font-size: 22px;
}
.icon {
    padding: 15px;
    display: flex;
    font-size: 10px;

}
h1 h2 {font-size: 30px}