body {
  align-items: center;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
  background-color: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,0.6148751737022935) 0%, rgba(148,187,233,0.7017099075958508) 100%);
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{

  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 10px;
  width: 100%;

}
/*h1,h2,h3,h4,h5,h6{*/
/*  padding-left: 8px;*/
/*}*/



ol li {list-style: none;}

a { text-decoration: none;color: black;}

a:hover{color: rgb(27, 123, 143);}

/* Typography */

html {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.icons-social i {
  font-size: 2em;
}

/* Custom Styles */

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

main > .intro {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3.75em;
  font-weight: 600;
}

main > .tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.icons-social i {
  padding: 7px;
}

.icons-social a {
  text-decoration: none;
}
